.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: auto;
  margin-top: 10vh;

  h1 {
    margin: 10px 0;
    color: #873EB5;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  } 
}