body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  // font-family: 'Montserrat', sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #B590F0;
  font-size: 32px;
  &:hover {
    color: white;
  }
}

* {
  box-sizing: border-box;
}